:root {
    --fuentePrincipal : 'Montserrat', sans-serif;
}
body {
    background: rgb(185,145,0);
    background: linear-gradient(270deg, rgba(185,145,0,0.5021358885351015) 0%, rgba(255,59,0,0.6113795860140931) 100%);
    font-family: var(--fuentePrincipal);
}

p {
    margin: 0;
}

.default {
    margin-top: 35px;
}

.contenedor {
    text-align: center;
    margin: 0 auto;
    background-color: white;
    max-width: 400px;
    padding: 30px;
    box-shadow: 8px 7px 17px 3px rgba(0,0,0,0.83);
}

.agregar-tareas {
    display: flex;
    justify-content: center;
}

.agregar-tareas input {
    padding: 10px;
    width:80%;
}

.btn {
    color: white;
    border: none;
    width: 10%;
    cursor: pointer;
    font-weight: 700;
    transition: background-color .3s ease;
}

.btn-agregar {
    background-color: #007F81;
    
}

.btn-agregar:hover {
    background-color: #00aaac;
}

.btn-borrar {
    background-color: red;
}

.btn-borrar:hover {
    background-color: #fe4f4f ;
}

.nueva-tarea {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.nueva-tarea p {
    width: 80%;
    padding: 10px;
    background-color: #e1e1e1;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    color: white;
    font-weight: 700;
}

@media (min-width: 480px) {
    .footer {
        font-size: 18px;
    }
}